body
{
    background-color: gainsboro; 
    margin: 20px;
    text-align: center;
}

#button
{
    font-size: 40px;
    margin: 10px;
    width: 70px;
}

#layout
{
    text-align: center;
    font-size: 25px;
}

#field
{
    font-size: 25px;
    margin: 10px;
}

table
{
    width: 250px;
    text-align: center;
}